.background-card{
    
    background: var(--color-grey-light);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-formulario{
    display: flex;
    flex-direction: column;
    width: 600px;
    
    align-items: center;
    padding: 69px 90px;
    background: var(--color-white);
    border-radius: 20px;
}

.inputs{
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input input{
    border: 1px solid var(--color-grey-light);
    border-radius: 20px;
    padding: 10px;
    outline: none;
}

.input label{
    color: var(--color-grey);
}

.card-formulario h1{
    color: var(--color-secondary);
    font-size: 2.5rem;
}

.opcoes-login{
    text-align: center;
    gap: 20px;
    
}

.opcoes-login button{
    margin: 5px;
    width: 30px;
    font-size: 2rem;
    background: none;
}


.criar-conta {
    margin-top: 14px;
    
}
.criar-conta:hover{
    cursor: pointer;
    font-weight: 700;
}

.criar-conta span{
    font-weight: bold;
    color: var(--color-secondary);
}

.social-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}