.planos-container {
    background-color: var(--color-grey-light);
    padding-bottom: 80px;
}

.planos-container h1{
    text-align: center;
    padding: 30px;
}

.planos{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 50px;
    width: 70%;
    justify-self: center;
}

.ser-voluntario{
    font-size: 2rem;
}

.mensal {
    background-color: var(--color-white);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.mensal p {
    font-weight: bold;
}

.mensal h3 {
    color: var(--color-secondary);
    width: 100%;
    padding-bottom: 50px;
}

.doe-agora{
    background-color: var(--color-white);
    margin-top: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.doe-agora p {
    font-weight: bold;
}

.doe-agora button {
    border: 1px solid transparent;
    padding: 10px;
    background-color: var(--color-grey-medium);
    border-radius: 10px;
    justify-self: center;
    font-weight: 800;
}

.doe-agora h3{
    width: 100%;
    padding-bottom: 50px;
}

.doe-agora button:hover{
    background: none;
    border: 1px solid var(--color-grey-medium);
}

.mensal:hover, .doe-agora:hover{
    scale: 1.125;
    transition: 1s;
}
